{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
    {% comment %} <p>Welcome {{request.user}} to my home page</p> {% endcomment %}
    {% if user.is_authenticated %}
        <p>Welcome {{request.user}}</p>

        
        <div class="form-container">
            {% if messages %}
            {% for m in messages %}
                <div class="alert {{m.tags}}">
                    {{m}}
                </div>
            {% endfor %}
            {% endif %}
        <div class="container">   
        <h2>Project Task Form</h2>
        <a href="{% url "viewTask" %}">View Task</a>
        </div>
        <form action='' method='POST'>
            {% csrf_token %}
            <table>
                {{form.as_p}}
            </table>
            
            <button type="submit">Submit</button>
        </form>
    </div>
    {% endif %}
    
    {% comment %} <a href="{% url 'logout' %}">Logout</a> {% endcomment %}
{% endblock %}
