{% extends "base.html" %} 
{% load static %} 
{% block title %}Tasks Page{%endblock %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/extra-styles.css' %}" />
{% endblock %} 
{% block content %} 
{% if not tasks %}
<h1 style="color: red; font-size: 18px">Empty, Nothing is added here</h1>

{% else %}
<h1>Your Task</h1>

<table>
  <tr>
    <th>S No.</th>
    <th>Project Name</th>
    <th>Repo Link</th>
    <th>Branch</th>
    <th>Task</th>
    <th>Task Assigned By</th>
    <th>Date</th>
    
    <th>Action Button</th>
  </tr>

  {% for task in tasks %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{ task.project_name }}</td>
    <td>{{ task.repo_link }}</td>
    <td>{{ task.branch }}</td>
    <td>{{ task.task }}</td>
    <td>{{ task.task_assigned_by }}</td>
    <td>{{ task.date }}</td>
    <td>
      <a href="{% url 'edit' task.project_name %}">Edit</a> |
      <a href="/delete?project_name={{task.project_name}}">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endif %} {% endblock %}
